<%= render "/user_profile/quick_info", user: @user %>

<h1>Edit Address</h1>

<%= render "form", address: @user.address, url: edit_address_path(@user) %>

<p><%= link_to "Remove address", edit_address_path, method: :delete %></p>

<%= render "layouts/back" %>
