// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$purple1: #8D66A9;
$purple2: #5B378E;
$pink: #E9A1C7;
$pink2: #DD63A2;
$yellow: #F5EE79;
$blue: #AEC6EA;

// List of listings
.listing-card {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid $purple2;
  border-radius: 5px;
}

.listing-card::after {
  content: "";
  clear: both;
  display: table;
}

.listing-price {
  color: $pink2;
}

.listing-title {
  color: $purple2;
}

.listing-card-img {
  max-width: 200px;
  float: left;
  margin-right: 20px;
}

.pagination {
  display: flex;
  justify-content: center;

  * {
    margin: 0 5px;
  }
}

// Listing show page
.listing-container {
  width: 80%;
  margin: 20px auto;
}

.listing-container-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.listing-img {
  max-width: 300px;
}

.listing-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}