<h1>All Listings</h1>

<% if @user.listings.any? %>
  <% @user.listings.each do |listing| %>
    <%= render "listings/card", listing: listing %>
  <% end %>
<% else %>
  <em>This user has no listings.</em>
<% end %>