<%= render "quick_info", user: @user %>

<h1>Listings by <%= @user.username %></h1>

<% if @user.listings.any? %>
  <% @user.listings.each do |listing| %>
    <%= render "listings/card", listing: listing %>
  <% end %>
<% else %>
  <em>This user has no listings.</em>
<% end %>