<div class="sidebar">
  <h3>Search all listings</h3>
  <h3>Browse listings</h3>
  <%= link_to "Browse latest", "#" %>
  <%= link_to "Browse by price", "#" %>
  <h4>Browse by platform</h4>
  <h4>Browse by genre</h4>
  <h4>Browse by location</h4>
</div>
